.blog-box {
    margin: 10px 35px 35px 35px;
    background-color: rgb(197, 248, 248);
    padding: 20px;
    border-radius: 7px;
}

.new-blog {
    margin: 30px 0 15px 35px;
}

.btn {
    background-color: rgb(54, 132, 209);
    color: white;
    border: none;
    border-radius: 6px;
}

.read-more {
    text-decoration: none;
}

.tag-span {
    font-weight: 900;
}

.blog-container {
    margin: 3rem;
    padding: 6px;
    box-shadow: 3px 3px 4px 5px rgb(219, 217, 217);
    display: flex;
    flex-direction: column;
}

.login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 7%;
}

.register-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 7%;
}